@model Persol_HMS.Models.ViewModels.AdminDashboardViewModel

<partial name="Navbar" />

<div class="grid">
    <partial name="SidebarPartial" />
    <div class="right">
		<div class="p-3 form-card" autocomplete="off">
			<h2 id="title">
				<p>
					Admin Dashboard
				</p>
			</h2>
			<hr>
			<div>
				<h1>Total Users: @Model.TotalUsers</h1>
			</div>
			<div>
				<h1>Total Record Clerks: @Model.Records.Count</h1>
			</div>
			<div>
				<h1>Total Nurses: @Model.Nurses.Count</h1>
			</div>
			<div>
				<h1>Total Doctors: @Model.Doctors.Count</h1>
			</div>
			<div>
				<h1>Total Lab Personnels: @Model.LabPersonnels.Count</h1>
			</div>
			<div>
				<h1>Total Cashiers: @Model.Cashiers.Count</h1>
			</div>
			<div>
				<h1>Total Pharmacists: @Model.Pharmacists.Count</h1>
			</div>
			<div>
				<h1>Total Admitted: @Model.Records.Count</h1>
			</div>
			<div>
				<h1>Total Patients: @Model.Patients.Count</h1>
			</div>
			<div>
				<h1>Total Discharged: @Model.Records.Count</h1>
			</div>
		</div>
    </div>
</div>


<partial name="FooterPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}