@model User

<partial name="Navbar" />

<div class="grid">
    <div class="left">
        <a class="left-content" href="@Url.Action("Lab")">
            <button type="button" class="btn btn-primary">Home</button>
        </a>
        @* <a href="@Url.Action("Lab")">
            <button type="button" class="btn btn-primary">Move onto next patient</button>
        </a> *@
    </div>

    <div class="right">
    <div>
        <h4 class="fs-2">User Details</h4>
        <hr />
        <div class="card text-center">
            <div class="card-header">
                <p class="fs-5"><b>Username</b>: @Model.UserName</p>
            </div>
            <div class="card-body">
                <div class="fs-5 row">
                    <div class="col"><b>First Name</b></div>
                    <div class="col">@Model.FirstName</div>
                </div>
                <hr/>
                <div class="fs-5 row">
                    <div class="col"><b>Last Name</b></div>
                    <div class="col">@Model.LastName</div>
                </div>
                <hr/>
                <div class="fs-5 row">
                    <div class="col"><b>Middle Name</b></div>
                    <div class="col">@Model.MiddleName</div>
                </div>
                <hr/>
                <div class="fs-5 row">
                    <div class="col"><b>DateOfBirth</b></div>
                    <div class="col">@Model.DateOfBirth.Date.ToString("dd-MM-yyyy")</div>
                </div>
                <hr/>
                <div class="fs-5 row">
                    <div class="col"><b>Department</b></div>
                    <div class="col">@Model.Department.DepartmentName</div>
                </div>
                <hr/>
                <div class="fs-5 row">
                    <div class="col"><b>Status</b></div>
                    <div class="col">@Model.Status</div>
                </div>
                <hr/>
                <div class="fs-5 row">
                    <div class="col"><b>LockEnabled</b></div>
                    <div class="col">@Model.LockEnabled</div>
                </div>
                <hr/>
                <div class="fs-5 row">
                    <div class="col"><b>Attempts</b></div>
                    <div class="col">@Model.Attempts</div>
                </div>
                <hr/>
                <div class="fs-5 row">
                    <div class="col"><b>LockEnd</b></div>
                    <div class="col">
                        @(string.IsNullOrEmpty(Model.LockEnd.ToString()) ? "Not Locked" : Model.LockEnd)
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a href="@Url.Action("Edit", new { id = Model.Id })">
                    <button type="button" class="m-1 btn btn-warning">Edit</button>
                </a>
                <a href="@Url.Action("Index")">
                    <button type="button" class="btn btn-secondary">Back to List</button>
                </a>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</div>