<div class="left">
    <a href="@Url.Action("PatientListOnly")">
        <button type="button">Patients List</button>
    </a>
    <a href="@Url.Action("Doctor")">
        <button type="button">Diagnose next patient</button>
    </a>
    <a href="@Url.Action("PatientList")">
        <button type="button">View Patients List</button>
    </a>
    <a href="@Url.Action("DoctorQueue")">
        <button type="button">View doctor Queue</button>
    </a>
    <a href="@Url.Action("LabQueue")">
        <button class="active" type="button">View lab Queue</button>
    </a>
    <a href="@Url.Action("Lab")">
        <button type="button">Check labs for next patient</button>
    </a>
    <a href="@Url.Action("Nurse")">
        <button type="button">Record vitals for next patient</button>
    </a>
    <a href="@Url.Action("NurseQueue")">
        <button type="button">View nurse queue</button>
    </a>
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit">Logout</button>
    </form>
</div>
