@model Persol_HMS.Models.ViewModels.CreateMedicalViewModel

@if (TempData.ContainsKey("D_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["D_ConfirmationMessage"]
    </div>
}
@if (TempData.ContainsKey("D_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["D_WarningMessage"]
    </div>
}

<h2>Medical Records for Patient: @Model.PatientNo</h2>
<h2>@Model.FirstName @Model.LastName</h2>

<form asp-action="SaveMedicalRecords" method="post" autocomplete="off">
    <div class="mb-3">
        <label asp-for="Symptoms" class="form-label">Symptoms</label>
        <textarea asp-for="Symptoms" class="form-control" rows="4"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Diagnoses" class="form-label">Diagnoses</label>
        <textarea asp-for="Diagnoses" class="form-control" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label">Is the patient to be admitted?</label>
        <div class="form-check">
            <input asp-for="IsAdmitted" type="radio" class="form-check-input" id="IsAdmittedTrue" value="true">
            <label class="form-check-label" for="IsAdmittedTrue">Yes</label>
        </div>
        <div class="form-check">
            <input asp-for="IsAdmitted" type="radio" class="form-check-input" id="IsAdmittedFalse" value="false">
            <label class="form-check-label" for="IsAdmittedFalse">No</label>
        </div>
    </div>

    <div class="form-group" id="WardNoDiv" style="display: none;">
        <label asp-for="WardNo" class="control-label">Ward Number</label>
        <input asp-for="WardNo" type="text" class="form-control" id="WardNo">
    </div>

    
    @section Scripts {
        <script type="text/javascript">
            document.getElementById("IsAdmittedTrue").onchange = function () {
                document.getElementById("WardNoDiv").style.display = this.checked ? "block" : "none";
            };
            document.getElementById("IsAdmittedFalse").onchange = function () {
                document.getElementById("WardNoDiv").style.display = this.checked ? "none" : "block";
            };
        </script>
    }
    

    <div class="mb-3">
        <label asp-for="DrugName" class="form-label">Drug Name</label>
        <input asp-for="DrugName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Dosage" class="form-label">Dosage</label>
        <input asp-for="Dosage" class="form-control" />
    </div>
    
    
    <input asp-for="PatientNo" type="hidden" />
    <button type="submit" class="btn btn-primary">Save Medical Records</button>
</form>

<a class="my-3" asp-action="DoctorQueue" asp-controller="Staff">Go to Doctor Queue</a>x