@model QueueViewModel

<h2>Doctor Queue</h2>

<form method="get" action="@Url.Action("DoctorQueue")">
    <div class="input-group mb-3">
        <input value="@Model.Search" type="text" class="form-control" placeholder="Search by Patient Id Number" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
    </div>
</form>

@if (Model.PatientsInLine.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>PatientNo</th>
                <th>QueueNo</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.PatientsInLine)
            {
                <tr>
                    <td>@patient.PatientNo</td>
                    <td>@patient.QueueNo</td>
                    <td>
                        <button class="diagnose-patient" data-patientNo="HMS-1123-2023-A002">
                            <a href="@Url.Action("Doctor", new { patientNo = patient.PatientNo })">Diagnose Patient</a>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("DoctorQueue", new { page = Model.CurrentPage - 1, search = Model.Search })">Previous</a></li>
            }

            @for (int i = 1; i <= Model.TotalPatients / Model.PageSize + 1; i++)
            {
                <li class="page-item"><a href="@Url.Action("DoctorQueue", new { page = i, search = Model.Search })" class="@(i == Model.CurrentPage ? "active page-link" : "page-link")">@i</a></li>
            }

            @if (Model.CurrentPage < Model.TotalPatients / Model.PageSize + 1)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("DoctorQueue", new { page = Model.CurrentPage + 1, search = Model.Search })">Next</a></li>
            }
        </ul>
    </nav>
}
else
{
    <p>No patients in line.</p>
}

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.diagnose-patient').click(function () {
                var patientNo = $(this).data('patient-no');

                // Redirect to the Doctor controller with the patientNo
                window.location.href = '@Url.Action("Doctor", "Staff")?patientNo=' + encodeURIComponent(patientNo);
            });
        });
    </script>
}
