@model DoctorQueueModel

<partial name="Navbar" />

@if (TempData.ContainsKey("D_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["D_ConfirmationMessage"]
    </div>
}
@if (TempData.ContainsKey("D_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["D_WarningMessage"]
    </div>
}

<div class="grid">
    <div class="left">
        <a class="left-content" href="@Url.Action("DoctorQueue")">
            <button type="button" class="btn btn-primary">Home</button>
        </a>
        <a href="@Url.Action("GetNextPatientinLine")">
            <button type="button" class="btn btn-primary">Move onto next patient</button>
        </a>
    </div>
    <div class="right">
        <h2 class="text-center">Doctor Queue</h2>

        <form method="get" action="@Url.Action("DoctorQueue")">
            <div class="input-group mb-3">
                <input class="form-control" name="search" value="@Model.QueueViewModel.Search" type="text" placeholder="Search by Patient Id Number">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </form>

        @if (Model.QueueViewModel.PatientsInLine.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>PatientNo</th>
                        <th>QueueNo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in Model.QueueViewModel.PatientsInLine)
                    {
                        <tr>
                            <td>@patient.PatientNo</td>
                            <td>@patient.QueueNo</td>
                            <td>
                                @* <a href="@Url.Action("Doctor", new { patientNo = "@patient.PatientNo" })">
                                    <button class=" btn btn-primary">
									    Diagnose Patient
								    </button>
                                </a> *@
								 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-@patient.PatientNo">
									Diagnose Patient
								</button> 
                            </td>
                        </tr>
                        <div class="modal fade" id="exampleModal-@patient.PatientNo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Diagnose Patient</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <form asp-action="SaveMedicalRecords" method="post" autocomplete="off">
                                                <div class="container text-center">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label asp-for="CreateMedicalViewModel.Symptoms" class="form-label">Symptoms</label>
                                                                <textarea asp-for="CreateMedicalViewModel.Symptoms" class="form-control" rows="4"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label asp-for="CreateMedicalViewModel.Diagnoses" class="form-label">Diagnoses</label>
                                                                <textarea asp-for="CreateMedicalViewModel.Diagnoses" class="form-control" rows="4"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                                         
                                                            <div class="mb-3">
                                                                <label asp-for="CreateMedicalViewModel.DrugName" class="form-label">Drug Name</label>
                                                                <input asp-for="CreateMedicalViewModel.DrugName" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label asp-for="CreateMedicalViewModel.Dosage" class="form-label">Dosage</label>
                                                                <input asp-for="CreateMedicalViewModel.Dosage" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Is the patient to be admitted?</label>
                                                            <div class="form-check">
                                                                <input asp-for="CreateMedicalViewModel.IsAdmitted" type="radio" class="form-check-input" id="IsAdmittedTrue" value="true">
                                                                <label class="form-check-label" for="IsAdmittedTrue">Yes</label>
                                                            </div>
                                                    </div>
                                                    <div class="form-check">
                                                        <input asp-for="CreateMedicalViewModel.IsAdmitted" type="radio" class="form-check-input" id="IsAdmittedFalse" value="false">
                                                        <label class="form-check-label" for="IsAdmittedFalse">No</label>
                                                    </div>

                                               
                                                    <div class="form-group" id="WardNoDiv" style="display: none;">
                                                        <label asp-for="CreateMedicalViewModel.WardNo" class="control-label">Ward Number</label>
                                                        <input asp-for="CreateMedicalViewModel.WardNo" type="text" class="form-control" id="WardNo">
                                                    </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </form>


                                        <form asp-controller="Staff" asp-action="SaveMedicalRecords" method="post" autocomplete="off">
                                            <div class="mb-3">
                                                <label asp-for="CreateMedicalViewModel.Symptoms" class="form-label">Symptoms</label>
                                                <textarea asp-for="CreateMedicalViewModel.Symptoms" class="form-control" rows="4"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="CreateMedicalViewModel.Diagnoses" class="form-label">Diagnoses</label>
                                                <textarea asp-for="CreateMedicalViewModel.Diagnoses" class="form-control" rows="4"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Is @patient.Patient.FirstName to be admitted?</label>
                                                <div class="form-check">
                                                    <input asp-for="CreateMedicalViewModel.IsAdmitted" type="radio" class="form-check-input" id="IsAdmittedTrue" value="true">
                                                    <label class="form-check-label" for="IsAdmittedTrue">Yes</label>
                                                </div>
                                                <div class="form-check">
                                                    <input asp-for="CreateMedicalViewModel.IsAdmitted" type="radio" class="form-check-input" id="IsAdmittedFalse" value="false">
                                                    <label class="form-check-label" for="IsAdmittedFalse">No</label>
                                                </div>
                                            </div>
                                            <div class="form-group" id="WardNoDiv" style="display: none;">
                                                <label asp-for="CreateMedicalViewModel.WardNo" class="control-label">Ward Number</label>
                                                <input asp-for="CreateMedicalViewModel.WardNo" type="text" class="form-control" id="WardNo">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="CreateMedicalViewModel.DrugName" class="form-label">Drug Name</label>
                                                <input asp-for="CreateMedicalViewModel.DrugName" class="form-control" />
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="CreateMedicalViewModel.Dosage" class="form-label">Drug Dosage</label>
                                                <input asp-for="CreateMedicalViewModel.Dosage" class="form-control" />
                                            </div>
                                            <input type="hidden" asp-for="CreateMedicalViewModel.PatientNo" id="PatientNoField" value="@patient.PatientNo"/>
                                            <button type="submit" class="btn btn-primary">Save Medical Records</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.QueueViewModel.CurrentPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("DoctorQueue", new { page = Model.QueueViewModel.CurrentPage - 1, search = Model.QueueViewModel.Search })">Previous</a></li>
                    }

                    @for (int i = 1; i <= Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1; i++)
                    {
                        <li class="page-item"><a href="@Url.Action("DoctorQueue", new { page = i, search = Model.QueueViewModel.Search })" class="@(i == Model.QueueViewModel.CurrentPage ? "active page-link" : "page-link")">@i</a></li>
                    }

                    @if (Model.QueueViewModel.CurrentPage < Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("DoctorQueue", new { page = Model.QueueViewModel.CurrentPage + 1, search = Model.QueueViewModel.Search })">Next</a></li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <p>No patients in line.</p>
        }
    </div>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        document.getElementById("IsAdmittedTrue").onchange = function () {
            document.getElementById("WardNoDiv").style.display = this.checked ? "block" : "none";
        };
        document.getElementById("IsAdmittedFalse").onchange = function () {
            document.getElementById("WardNoDiv").style.display = this.checked ? "none" : "block";
        };
    </script>
    <script>
        $(document).ready(function () {
            $('.btn-primary').click(function () {
                var patientNo = $(this).data('patient-no');
                $/* ('#PatientNoField').val(patientNo); */
            });
        });


            // Handle radio button change to toggle WardNoDiv visibility
            $('input[name="Medical.IsAdmitted"]').change(function () {
                $('#WardNoDiv').toggle(this.value === 'true');
            });
        });
    </script>
}
