@model DoctorQueueModel

<partial name="Navbar" />

@if (TempData.ContainsKey("D_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["D_ConfirmationMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}
@if (TempData.ContainsKey("D_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["D_WarningMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}

<div class="grid">
    <partial name="SidebarPartial" />

    <div class="right">
        
        <div class="form-card">
            <h2 class="text-center py-3">Doctor Queue</h2>
            <form method="get"class="search" action="@Url.Action("DoctorQueue")">
                <div class="input-group mb-3 px-3">
                    <input type="text" name="search" class="form-control" placeholder="Search by Patient_No, Firstname or Lastname" aria-describedby="button-addon2">
                    <button class="search-button" type="submit" id="button-addon2">Search</button>
                </div>
            </form>

            @if (Model.QueueViewModel.PatientsInLine.Any())
            {
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>PatientNo</th>
                            <th>Patient Name</th>
                            <th>QueueNo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model.QueueViewModel.PatientsInLine)
                        {
                            <tr>
                                <td>@patient.PatientNo</td>
                                <td>@($"{patient.Patient.LastName} {patient.Patient.FirstName}")</td>
                                <td>@patient.QueueNo</td>
                                <td>
                                    <button type="button" class="table-button" data-bs-toggle="modal" data-bs-target="#exampleModal-@patient.PatientNo">
                                        Diagnose Patient
                                    </button>
                                </td>
                            </tr>
                            <div class="modal fade" id="exampleModal-@patient.PatientNo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 id="exampleModalLabel">
                                                <p>Diagnose @patient.Patient.FirstName</p>
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-action="SaveMedicalRecords" method="post" autocomplete="off">
                                                <div class="container">
                                                    <div class="diagnose_row">
                                                        <div class="diagnose_col">
                                                            <div class="mb-2 doc-flex">
																<label asp-for="CreateMedicalViewModel.Symptoms" class="form-label">Symptoms</label>
                                                                <textarea asp-for="CreateMedicalViewModel.Symptoms" class="form-control" rows="3" placeholder="Enter Symptoms Here"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="diagnose_col">
                                                            <div class="mb-2 doc-flex">
																<label asp-for="CreateMedicalViewModel.Diagnoses" class="form-label">Diagnoses</label>
                                                                <textarea asp-for="CreateMedicalViewModel.Diagnoses" class="form-control" rows="3" placeholder="Enter Diagnoses Here"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="scroll">
                                                        <div class="drugs-grid" id="drugFields">
                                                            <div id="drug-title">
                                                                <label for="addMoreDrugs">Drugs</label>
                                                            </div>
                                                            <div>
                                                                <button id="addMoreDrugs" onclick="addDrug()" type="button" class="add-button">
                                                                    <p>Add</p>
                                                                </button>
                                                            </div>
                                                            <div class="drug_input field0" data-index="0">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[0].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[0].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(0)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field1" data-index="1">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[1].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[1].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(1)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field2" data-index="2">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[2].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">                                                          
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[2].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(2)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field3" data-index="3">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[3].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[3].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(3)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field4" data-index="4">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[4].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[4].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(4)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field5" data-index="5">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[5].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[5].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(5)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field6" data-index="6">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[6].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[6].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(6)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field7" data-index="7">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[7].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[7].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(7)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field8" data-index="8">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[8].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[8].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(8)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                            <div class="drug_input field9" data-index="9">
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[9].DrugName" class="form-control" placeholder="Drug Name" />
                                                                </div>
                                                                <div class="col1">
                                                                    <input asp-for="CreateMedicalViewModel.DrugNames[9].Dosage" class="form-control" placeholder="Dosage" />
                                                                </div>
                                                                <div class="close_button" onclick="removeDrug(9)">
                                                                    <button type="button" class="btn btn-close btn-danger remove-drug" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input asp-for="CreateMedicalViewModel.PatientNo" value="@patient.PatientNo" style="display:none" />
                                                    <div style="display:grid;grid-template-columns:repeat(2, 1fr);gap: 10px">
                                                        <div id="WardContainer" class="col">
                                                            <div class="select-options mb-3" id="WardsTemplate" >
                                                                <h4 id="selector" onClick="showOptions('a-@patient.QueueNo')">Select Ward Name</h4>
                                                                <div style="visibility:hidden;opacity:0;top:0;transition:.3s" class="a-@patient.QueueNo">
                                                                    @foreach(var wardName in Model.CreateMedicalViewModel.AvailableWardNames)
                                                                    {
                                                                        <p>
                                                                            <input style="cursor:pointer" type="checkbox" id="@wardName" value="@wardName" name="SelectWardNames" />
                                                                            <label onclick="addOrRemove(@wardName)" for="@wardName">@wardName</label>
                                                                        </p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="labFieldsContainer" class="col">
                                                            <div class="select-options" id="labFieldsTemplate" >
                                                                <h4 id="selector" onClick="showOptions('b-@patient.QueueNo')">Select Lab</h4>
                                                                <div style="visibility:hidden;opacity:0;top:0;transition:.3s" class="b-@patient.QueueNo">
                                                                    @foreach(var labName in Model.CreateMedicalViewModel.AvailableLabNames)
                                                                    {
                                                                        <p>
                                                                            <input style="cursor:pointer" type="checkbox" id="@labName" value="@labName" name="SelectLabNames" />
                                                                            <label onclick="addOrRemove(@labName)" for="@labName">@labName</label>
                                                                        </p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer px-0">
                                                        <button type="submit" style="border:none;border-radius:5px" class="auth-button w-100">Save Medical Records</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
				
				

                <nav class="py-3" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (Model.QueueViewModel.CurrentPage > 1)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("DoctorQueue", new { page = Model.QueueViewModel.CurrentPage - 1, search = Model.QueueViewModel.Search })">Previous</a></li>
                        }

                        @for (int i = 1; i <= Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1; i++)
                        {
                            <li class="page-item"><a href="@Url.Action("DoctorQueue", new { page = i, search = Model.QueueViewModel.Search })" class="@(i == Model.QueueViewModel.CurrentPage ? "active page-link" : "page-link")">@i</a></li>
                        }

                        @if (Model.QueueViewModel.CurrentPage < Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("DoctorQueue", new { page = Model.QueueViewModel.CurrentPage + 1, search = Model.QueueViewModel.Search })">Next</a></li>
                        }
                    </ul>
                </nav>
            }
            else
            {
                <p class="p-3 no-patinet">No patients in line.</p>
            }
        </div>
    </div>
</div>

<partial name="FooterPartial" />

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            // Function to add drug input fields
            var maxDrugFields = 10;
            function addDrug() {
                if ($('.drug_input:visible').length < maxDrugFields) {
                    $('.last-drug').removeClass('last-drug');
                    let div = $('.drug_input:hidden:first').show();
                    div.show();
                    $('.drug_input:visible:last').addClass('last-drug');
                }
            }

            // Function to remove drug input fields
            function removeDrug(index) {
                $('.drug_input:visible').removeClass('last-drug');
                var drugField = $(`.drug_input[data-index="${index}"]:visible`);
                if (drugField.length > 0) {
                    drugField.removeClass('last-drug');
                    drugField.hide();
                    $('.drug_input:visible:last').addClass('last-drug');
                    drugField.find('input').val('');
                }
        }

            // Add More Drugs button click event
            $('#addMoreDrugs').click(function () {
                addDrug();
            });

            // Remove Drug button click event
            $('#drugFields').on('click', '.remove-drug', function () {
                var removeIndex = $(this).closest('.drug_input').data('index');
                removeDrug(removeIndex);
            });

            // Initially hide drug fields
            $(`.drug_input.field0, .drug_input.field1, .drug_input.field2, .drug_input.field3, .drug_input.field4,
                .drug_input.field5, .drug_input.field6, .drug_input.field7, .drug_input.field8, .drug_input.field9`).hide();
        });
    </script>
    <script>
        $(document).ready(function () {
            // Find the last visible drug_input and apply styles
            var lastVisibleDrug = $('.drug_input:visible:last');
            lastVisibleDrug.addClass('last-drug');
        });
    </script>
    <style>
        .last-visible-drug {
            /* Add your styles for the last visible drug_input here */
            background-color: lightblue;
        }
    </style>
    <script>
        $( '#multiple-select-field' ).select2({
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
            closeOnSelect: false,
        });
    </script>
    <script>
        function showOptions(className){
            options = document.getElementsByClassName(className)
            if(options[0].style.visibility == "hidden"){
                options[0].style.visibility = "visible"
                options[0].style.top = "30px"
                options[0].style.opacity = 1
            }else{
                options[0].style.visibility = "hidden"
                options[0].style.opacity = 0
                options[0].style.top = 0
            }
        }
    </script>
}
