@model LabQueueViewModel

<partial name="Navbar" />

<div class="grid">
    <div class="left">
        <a class="left-content" href="@Url.Action("Lab")">
            <button type="button" class="btn btn-primary">Move onto next patient</button>
        </a>
        <a href="@Url.Action("Lab")">
            <button type="button" class="btn btn-primary">Move onto next patient</button>
        </a>
    </div>

    <div class="right">
        <h2>Lab Queue</h2>
        <form method="get" action="@Url.Action("LabQueue")">
            <div  class="input-group mb-3">
                <input  class="form-control" name="search" value="@Model.QueueViewModel.Search" type="text" placeholder="Search by Patient Id Number">
                <button  class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </form>
        @if (Model.QueueViewModel.PatientsInLine.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>PatientNo</th>
                        <th>QueueNo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in Model.QueueViewModel.PatientsInLine)
                    {
                        <tr>
                            <td>@patient.PatientNo</td>
                            <td>@patient.QueueNo</td>
                            <td>
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
									Check Labs
								</button>
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">firstname</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-controller="Staff" asp-action="Lab" autocomplete="off">
                                            <div class="mb-3">
                                                <label asp-for="Lab.LabName" class="form-label">Lab Name</label>
                                                <input asp-for="Lab.LabName" type="text" class="form-control" id="LabName">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="Lab.Result" class="form-label">Lab Result</label>
                                                <div class="form-check">
                                                    <input asp-for="Lab.Result" type="radio" class="form-check-input" id="ResultTrue" value="true">
                                                    <label class="form-check-label" for="ResultTrue">Positive</label>
                                                </div>
                                                <div class="form-check">
                                                    <input asp-for="Lab.Result" type="radio" class="form-check-input" id="ResultFalse" value="false">
                                                    <label class="form-check-label" for="ResultFalse">Negative</label>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="Lab.Notes" class="form-label">Lab Notes</label>
                                                <input asp-for="Lab.Notes" type="text" class="form-control">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="Lab.Date" class="form-label">Lab Date</label>
                                                <input asp-for="Lab.Date" type="date" class="form-control">
                                            </div>
                                            <input asp-for="Lab.PatientNo" value="@patient.PatientNo" type="hidden" />
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </tbody>
            </table>
			
			
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.QueueViewModel.CurrentPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("LabQueue", new { page = Model.QueueViewModel.CurrentPage - 1, search = Model.QueueViewModel.Search })">Previous</a></li>
                    }
                    @for (int i = 1; i <= Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1; i++)
                    {
                        <li class="page-item"><a href="@Url.Action("LabQueue", new { page = i, search = Model.QueueViewModel.Search })" class="@(i == Model.QueueViewModel.CurrentPage ? "active page-link" : "page-link")">@i</a></li>
                    }
                    @if (Model.QueueViewModel.CurrentPage < Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("LabQueue", new { page = Model.QueueViewModel.CurrentPage + 1, search = Model.QueueViewModel.Search })">Next</a></li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <p>No patients in line.</p>
        }
    </div>
</div>



@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.check-lab').click(function () {
                var patientNo = $(this).data('patient-no');

                // Redirect to the Nurse controller with the patientNo
                window.location.href = '@Url.Action("Lab", "Staff")?patientNo=' + encodeURIComponent(patientNo);
            });
        });
    </script>
}