@model LabQueueViewModel

<partial name="Navbar" />

@if (TempData.ContainsKey("L_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["L_ConfirmationMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}
@if (TempData.ContainsKey("L_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["L_WarningMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}

<div class="grid">
    <partial name="SidebarPartial" />
    <div class="right">
        <h2 class="text-center">Lab Queue</h2>
        <form method="get" action="@Url.Action("LabQueue")">
            <div  class="input-group mb-3">
                <input  class="form-control" name="search" value="@Model.QueueViewModel.Search" type="text" placeholder="Search by Patient Id Number">
                <button  class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </form>
        @if (Model.QueueViewModel.PatientsInLine.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>PatientNo</th>
                        <th>Patient Name</th>
                        <th>QueueNo</th>
                        <th>Lab Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in Model.QueueViewModel.PatientsInLine)
                    {
                        <tr>
                            <td>@patient.PatientNo</td>
                            <td>@patient.Patient.LastName @patient.Patient.FirstName</td>
                            <td>@patient.QueueNo</td>
                            <td>@patient.LabName</td>
                            <td>
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-@patient.PatientNo">
									Check Labs
								</button>
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModal-@patient.PatientNo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Submit Lab Report</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-controller="Staff" asp-action="Lab" autocomplete="off">
                                            <div class="container text-center">
                                                <div id="lab-fields">
                                                    <h5 class="bg-light rounded text-primary fs-4">
                                                        @patient.LabName for @patient.Patient.LastName @patient.Patient.FirstName
                                                    </h5>
                                                    <div class="lab_row bg-light p-3 rounded mb-3">
                                                        <div class="lab_col1">
@*                                                             <label>Select Result</label>
 *@                                                            <textarea asp-for="Lab.Result" class="form-control" id="LabResult" placeholder="Lab Result" name="Lab.Result"></textarea>
                                                            @* <div class="switch-field">
                                                                <input asp-for="Lab.Result" type="radio" id="radio-one" name="switch-one" value="Positive" checked/>
                                                                <label for="radio-one">Positive</label>
                                                                <input asp-for="Lab.Result" type="radio" id="radio-two" name="switch-one" value="Negative" />
                                                                <label class='radio-two' for="radio-two">Negative</label>
                                                            </div> *@
                                                        </div>
                                                        <div class="lab_col">
                                                            <textarea asp-for="Lab.Notes" class="form-control" id="LabNotes" placeholder="Lab Notes" name="Lab.Notes"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input asp-for="Lab.PatientNo" value="@patient.PatientNo" type="hidden" />
                                                <input asp-for="Lab.LabName" value="@patient.LabName" type="hidden" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </tbody>
            </table>
			
			
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.QueueViewModel.CurrentPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("LabQueue", new { page = Model.QueueViewModel.CurrentPage - 1, search = Model.QueueViewModel.Search })">Previous</a></li>
                    }
                    @for (int i = 1; i <= Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1; i++)
                    {
                        <li class="page-item"><a href="@Url.Action("LabQueue", new { page = i, search = Model.QueueViewModel.Search })" class="@(i == Model.QueueViewModel.CurrentPage ? "active page-link" : "page-link")">@i</a></li>
                    }
                    @if (Model.QueueViewModel.CurrentPage < Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("LabQueue", new { page = Model.QueueViewModel.CurrentPage + 1, search = Model.QueueViewModel.Search })">Next</a></li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <p>No patients in line.</p>
        }
    </div>
</div>



@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.check-lab').click(function () {
                var patientNo = $(this).data('patient-no');

                // Redirect to the Nurse controller with the patientNo
                window.location.href = '@Url.Action("Lab", "Staff")?patientNo=' + encodeURIComponent(patientNo);
            });
        });
    </script>
    <style>
        .form-container {
            background: #f8f9fa;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }

        .form-header {
            border-bottom: 1px solid #dee2e6;
            margin-bottom: 10px;
        }

        .form-footer {
            border-top: 1px solid #dee2e6;
            margin-top: 10px;
            padding-top: 10px;
        }
    </style>


}