@model Persol_HMS.Models.Vital

@if (TempData.ContainsKey("N_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["N_ConfirmationMessage"]
    </div>
}
@if (TempData.ContainsKey("N_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["N_WarningMessage"]
    </div>
}

<form asp-controller="Staff" asp-action="Nurse" autocomplete="off">
    <div class="mb-3">
        <label asp-for="Temperature" class="form-label">@ViewBag.Name's Temperature</label>
        <input asp-for="Temperature" type="number" class="form-control" id="temperature">
    </div>
    <div class="mb-3">
        <label asp-for="Height" class="form-label">@ViewBag.Name's Height</label>
        <input asp-for="Height" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Weight" class="form-label">@ViewBag.Name's Weight</label>
        <input asp-for="Weight" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="BloodPressure" class="form-label">@ViewBag.Name's Blood Pressure</label>
        <input asp-for="BloodPressure" type="text" class="form-control">
    </div>
    <input asp-for="PatientNo" type="hidden" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a class="my-3" asp-action="NurseQueue" asp-controller="Staff">Go to Nurse Queue</a>
