@model VitalsQueueModel

<partial name="Navbar" />

@if (TempData.ContainsKey("N_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["N_ConfirmationMessage"]
    </div>
}
@if (TempData.ContainsKey("N_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["N_WarningMessage"]
    </div>
}


<div class="grid">
    <div class="left">
        <a class="left-content" href="@Url.Action("NurseQueue")">
            <button type="button" class="btn btn-primary">Home</button>
         </a>
        <a href="@Url.Action("GetNextPatientInLine")">
            <button type="button" class="btn btn-primary">Move onto next patient</button>
        </a>
    </div>

    <div class="right">
        <h2 class="text-center">Nurse Queue</h2>
        <form method="get" action="@Url.Action("NurseQueue")">
            <div class="input-group mb-3">
                <input class="form-control" name="search" value="@Model.QueueViewModel.Search" type="text" placeholder="Search by Patient Id Number">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </form>
        @if (Model.QueueViewModel.PatientsInLine.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>PatientNo</th>
                        <th>QueueNo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in Model.QueueViewModel.PatientsInLine)
                    {
                        <tr>
                            <td>@patient.PatientNo</td>
                            <td>@patient.QueueNo</td>
                            <td>
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-@patient.PatientNo">
									Check Vitals
								</button>
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModal-@patient.PatientNo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Check Vitals</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-controller="Staff" asp-action="Nurse" autocomplete="off">
                                            <div class="mb-3">
                                                <label asp-for="Vital.Temperature" class="form-label">@patient.Patient.FirstName's Temperature</label>
                                                <input asp-for="Vital.Temperature" type="number" class="form-control" id="temperature">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="Vital.Height" class="form-label">@patient.Patient.FirstName's Height</label>
                                                <input asp-for="Vital.Height" type="number" class="form-control">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="Vital.Weight" class="form-label">@patient.Patient.FirstName's Weight</label>
                                                <input asp-for="Vital.Weight" type="number" class="form-control">
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="Vital.BloodPressure" class="form-label">@patient.Patient.FirstName's Blood Pressure</label>
                                                <input asp-for="Vital.BloodPressure" type="text" class="form-control">
                                            </div>
                                            <input asp-for="Vital.PatientNo" value="@patient.PatientNo" type="hidden" />
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.QueueViewModel.CurrentPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("NurseQueue", new { page = Model.QueueViewModel.CurrentPage - 1, search = Model.QueueViewModel.Search })">Previous</a></li>
                    }

                    @for (int i = 1; i <= Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1; i++)
                    {
                        <li class="page-item"><a href="@Url.Action("NurseQueue", new { page = i, search = Model.QueueViewModel.Search })" class="@(i == Model.QueueViewModel.CurrentPage ? "active page-link" : "page-link")">@i</a></li>
                    }

                    @if (Model.QueueViewModel.CurrentPage < Model.QueueViewModel.TotalPatients / Model.QueueViewModel.PageSize + 1)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("NurseQueue", new { page = Model.QueueViewModel.CurrentPage + 1, search = Model.QueueViewModel.Search })">Next</a></li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <p>No patients in line.</p>
        }
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.check-vitals').click(function () {
                var patientNo = $(this).data('patient-no');

                // Redirect to the Nurse controller with the patientNo
                window.location.href = '@Url.Action("Nurse", "Staff")?patientNo=' + encodeURIComponent(patientNo);
            });
        });
    </script>
}
