@model Lab

<h1>Lab Processing</h1>

<div>
    <p>Patient No: @Model.PatientNo</p>
    <p>Lab Name: @Model.LabName</p>
    <p>Result: @Model.Result</p>
    <p>Notes: @Model.Notes</p>
    <p>Date: @Model.Date</p>
</div>